:host{
    width: 100%;
}

.form{
    // border: solid 2px red;
    height: 40vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form input{
    border-radius: 100px;
    outline: none;
    border: transparent;
    box-shadow: 0 0 5px #9f9c9c;
    padding: 0.5rem;
    width: 100%;
    //background-color: #bbb8b8;
  }