

div{
  display: flex;
  justify-content: space-between;
  // margin-top: 20rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 3rem;
  // max-width: 200px;
  // width: 100%;
  // border: solid 2px red;
}

:host{
  width: 100%;
}


i{
  font-size: 2.6rem;
  color: rgb(240, 240, 240);
}

a{
  border-radius: 1000px;
  background-color: rgb(5, 205, 255);
  width: 16%;
  max-width: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  // text-align: center;
  // box-sizing: content-box;
  // padding: .3rem;
}

.transparent{
  color: transparent;
  background-color: transparent;
}

.transparent img{
  display: none;
}