div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
}

.title{
    margin-top: 4rem;
}

//TELA DADOS 2

::ng-deep{
  .first_star{
    font-size: 4rem;
    color: rgb(145, 201, 250);
    text-shadow: 0 0 2px rgb(110, 110, 110);
  }

  .midle_star{
    font-size: 6rem;
    color: rgb(145, 201, 250);
    text-shadow: 0 0 2px rgb(110, 110, 110);
  }

  .last_star{
    font-size: 4rem;
    color: rgb(145, 201, 250);
    text-shadow: 0 0 2px rgb(110, 110, 110);
  }
}
